

<div class="touch">
    <%= link_to "Add Poster", new_posters_path, class:"holder submer" %>
</div>
 

<div class="con container">
 
  <div class="center row">
 <% @posters.each do |post| %>

    <div class="holder col-md-3">
       
          <%= image_tag(post.imgprofile, size: "200x180") %> 
          <br>
           <%= post.name %>
           <br>
           <%= post.overview %>  
           <br>
           <div class="touch1">
           <%= link_to "More", new_posters_path, class:"holder1 submer1" %> 
</div>
    </div>
   
     
  <%end %>
  </div>

 
</div>



