

<div class="touch">
     <a class= "mtd btn buttons" href="/"> <span>&laquo; Back</span></a>
    <%= link_to "Add Poster", new_poster_path, class:"mtd btn buttons" %>
</div>
 

<div class="con container">
 
  <div class="center row">

 <% @posters.each do |post| %>

    <div class="holder col-md-3">
       
          <%= image_tag(post.imgprofile, size: "200x180") %> 
          <br>
           <%= post.name %>
           <br>
           <%= post.overview %>  
           <br>
           <div class="linksbtn">
           <%= link_to 'âœï¸', edit_poster_path(post), class:" holder1 submer1" %>
           <a class="holder1 submer1" data-confirm="Do you want to delete <%= post.name %> ?"
            href="/posters/<%= post.id %>" data-method="delete"> <span class="delete">ðŸ—‘</span></a>

            <a class= "holder1 submer1" href="/posters/<%= post.id %>/"> <span>âž¡</span></a>

            
          
           
     
</div>
    </div>
  <%end %>
  
  </div>
</div>



